{% load static %}
<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/demo.css' %}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'css/style1.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>   
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
            
        <script>
                $(document).ready( function () {
                $('#myTable').DataTable();
                } );
        </script>
    
</head>
<title>Patient Dashboard</title>

<body>

        <div class="layout has-sidebar fixed-sidebar fixed-header">
                <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
                    <div class="image-wrapper">
                        <img src="{% static 'img/adminbg.jpg' %}" alt="sidebar background" />
                    </div>
                    <div class="sidebar-layout">
                        <div class="sidebar-header">
                            <span style="
                              text-transform: uppercase;
                              font-size: 15px;
                              letter-spacing: 3px;
                              font-weight: bold;
                            ">Patient Dashboard</span>
                        </div>

                        <div class="sidebar-content">
                            <nav class="menu open-current-submenu">
                                <ul>
                                    
                                        
                                    <li class="menu-item">
                                        <a href="{% url 'user:user_profile' %}">
                                            <span class="menu-icon">
                                                <i class="ri-user-fill"></i></span>
                                            <span class="menu-title">Patient Profile</span>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a href="{% url 'user:index' %}">
                                            <span class="menu-icon">
                                                <i class="ri-dashboard-fill"></i></span>
                                            <span class="menu-title">Patient Dashboard</span>
                                        </a>
                                    </li>
        
                                    
                                    
                                    <li class="menu-item">
                                        <a href="{% url 'user:book_appointment' %}">
                                            <span class="menu-icon">
                                                <i class="ri-newspaper-fill"></i></span>
                                            <span class="menu-title">
                                                Take appointment</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{% url 'user:view_approvedappo' %}">
                                            <span class="menu-icon">
                                                <i class="ri-newspaper-fill"></i></span>
                                            <span class="menu-title">
                                                 appointment status</span>
                                        </a>
                                    </li>
                                    
                                    
                                    <li class="menu-item">
                                        <a href="{% url 'user:user_feedback' %}">
                                            <span class="menu-icon">
                                                <i class="ri-questionnaire-fill"></i></span>
                                            <span class="menu-title">Send feedback </span>
                                        </a>
                                    </li>
        
                                </ul>
                            </nav>
                        </div>
                        <div class="sidebar-footer">
                            <a href="{% url 'user:logout' %}" class="menu">
                                <span class="menu-icon"><i class="ri-logout-box-line"></i></span>
                                <span class="menu-title">Logout</span>
                            </a>
                        </div>
                    </div>
                </aside>
                <div id="overlay" class="overlay"></div>
                <div class="layout">
                    <header class="header">
                        <a id="btn-collapse" style="color:#f3008a;" href="#">
                            <i class="ri-menu-line ri-xl"></i>
                        </a>
                        <a id="btn-toggle" style="color:#f3008a;" href="#" class="sidebar-toggler break-point-lg">
                            <i class="ri-menu-line ri-xl"></i>
                        </a>
                        
                    </header>
        <main class="content">
                        {% block content %} 
                        {% endblock%}
                        
                        
        
        
        </main>
        <div class="overlay"></div>
        </div>
        </div>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>
        
        <script>
        var xValues = ["Correct", "Wrong"];
        var yValues = [50, 50];
        var barColors = ["red", "green"];
        
        var myChart = new Chart("myChart", {
        type: "bar",
        data: {
        labels: xValues,
        datasets: [{
            backgroundColor: barColors,
            data: yValues
        }]
        },
        options: {
        animations: {
            tension: {
                duration: 1000,
                easing: 'linear',
                from: 1,
                to: 0,
                loop: true
            }
        },
        legend: {
            display: false
        },
        title: {
            display: true,
            text: "Test Result"
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    max: 100
                }
            }]
        }
        }
        });
        </script>

</body>

</html>