a{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}

.btn{
  background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgb(230, 0, 230) 100%);
}
.btn:hover{
  background: linear-gradient(90deg, rgba(62, 116, 104, 0.785) 0%, rgb(0, 230, 119) 100%);
}

.baner {
  height: 80px;
  width: 94%;
  background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgb(230, 0, 230) 100%);
  color: rgba(0, 0, 0, 0.934);
}